body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
   
}
.tit{
 text-align: center;
 
}
.container {
    width: min(1000px, 100%);
    margin: 0 auto;
}

.cards {
    margin-bottom: 2em;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-bottom: 3px solid #ccc; 
    text-align: left;
    text-decoration: none;
    color: black;
}

.text-content h4 {
    margin: 0 0 10px;
    font-size: 1.2em;
    text-decoration: none;
}
a {
  text-decoration: none; /* Verwijdert de onderstreping */
  color: inherit; /* Neemt de kleur over van de ouder (bijv. zwart als je dat wilt) */
}

.copy-button {
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.img-pro {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 10px;
}
