body {
    align-items: center;
    text-align: center;
    font-family: "Arial";
    background-color: #06194A;
    background-image: url(img/starry-night-sky-background-illustration-vector.jpg);
    
}

.tit {
    text-align: center;

    align-items: center; /* Verticale uitlijning van de afbeelding en tekst */
    gap: 10px; /* Ruimte tussen de tekst en afbeelding */
    color: #FBCB47;
}


.sint-img {
    width: 100px;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat de .cards onder elkaar komen als er geen ruimte meer is */
    gap: 10px;
    justify-content: center; /* Centraal uitlijnen van de .cards in de container */
  
}

.cards {
    
    background: #761212;
    border: 5px solid #FBCB47; 
    border-radius: 5px; 
    width: 250px;
    overflow: hidden; 
    text-align: center;
    min-width: 200px;
}
.price{
    background-color: #FBCB47;
    color: #06194A;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px; 
}
.euro{
    color: #761212;
}
.name {
    font-family: "Arial Black";
    color:#FBCB47 ;
    }

.img {
    width: 100%;
    height: auto;
    display: block;
}

.where {

    color:#FBCB47 ;
}

.copy-name {

    height: 30px;
    border-radius: 5px; 
    color:  #761212;
    background-color: #FBCB47;
    border: 0px solid #FBCB47; 
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.foot-img{
    background-image: url(../docs/img/sin-footer.jpg);
    width: 100px;
    height: auto;
}