.container{
    display: flex;
    gap: 10px;
}
.cards{
    background: rgb(238, 238, 238);
   
}
.name{
    font-family: "Arial Black";
    color: black;
}
.img{
    width: 100px;
}
.where{
    font-family: "Arial";
    color: black;
}
.copy-name{
    background-color: blue;
    
}